/* 
==================================> External Styles
 */

@import url(https://fonts.googleapis.com/css?family=Nunito);
@import "./top-nav.css";
@import "./animateimage.css";
 /* 
==================================> Remove Defaults
 */
 /* ul */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* a {
  text-decoration: none;
}
a:hover,
a:focus {
  color : inherit;
} */

a {
    all: unset;
} 

* {
  box-sizing: border-box;
}

/* 
==================================> Components
 */
           /* Body */
body {
    background-color: #fff;
    color: #1e394e;
    font-size: 14px;
    font-family: "Nunito","sans-serif";
    font-weight: 400;
    margin: 0; 

}
         /* Flex Container */
.flex-container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
}

        /* Harmburger Icon */
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
      /* Form */
.form-label {
      display: block;
    text-align: center;
}
.form-control {
    display: block;
    background-color:#E9EFFD;
}

        /* buttons */
.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
.button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary {
  color: #FFF;
  background-color: #33C3F0;
  /* background-color:	#FCC604; */
  border-color: #33C3F0; }
.button.button-primary:hover,
.button.button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}
.button.button-primary:hover,
.button.button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}
.button.button-disabled {
  opacity: 0.5;
  background-color: #33C3F0;
  color: #FFF;
  cursor:not-allowed;
}
.button.button-info {
  border-color: #FFF;
  background-color: #FCC604;
  opacity: 0.911;
  color: #FFF;
}
.button.button-info:hover,
.button.button-primary:focus {
  border-color: #FFF;
  background-color: #FCC604;
  opacity: 1;
  color: #FFF;
}

/* 
==================================> Color Utililties
Contains:
1) Background colors as bg-*
2) Text colors as tex-*
 */
 /* For Backgrounds */
.bg-white {
  background-color: #fff;
}
.bg-yellow-light {
  background-color: #FCC604;
}
.bg-yellow-dark {
  background-color: #E9A844;
}
.bg-blue {
  background-color:#E9EFFD;
}
.bg-red {
  background-color: #EB1211;
}
.bg-light {
  background-color: #f8f9fa;
}
.bg-danger {
  background-color: #dc3545;
}
.bg-magneta   {
  background-color: magenta;
}
.bg-green   {
  background-color: green;
}
/* For Texts */
.text-gray {
  color: #1e394e;
}
.text-info {
  color: #FCC604;
 }

/* 
==================================> Typography Utililties(font, padding, margin, shadow)
 */
 .p-4 {
   padding: .4em;
 }
.p-5 {
   padding: 48px;
 }

.m-5 {
   margin: 48px;
 }

.mb-4 {
  margin-bottom: 24px;
}

.my-4 {
   margin-top: 24px;
   margin-bottom: 24px;
 }
.my-10 {
   margin-top: 96px;
   margin-bottom: 96px;
 }

 /* Font */
 .text-uppercase {
  text-transform: uppercase;
 }
 .text-uppercase {
  text-align: center;
 }
 /* Shadow */
 .shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
 }

/* 
==================================> Length Utililties
 */
 /* Width */
.width-100 {
  width: 100%;
}
.width-50 {
  width: 50%;
}
.width-60px {
  width: 60px;
}
/* Height */
.height-auto {
  height: auto;
}
.height-8 {
  height: 8em;
}

/* 
==================================> Positioning Utililties
 */
 .position-90 {
   width: 90%;
   margin: 0 auto;
 }
.float-r {
    position: relative;
    float: right;
 }
 .float-l {
    float: right !important;
 }
 .block {
    display: block;
 }
 

 /* 
==================================> Border Utililties
 */
 .border-light {
   border: 1px solid #dee2e6;
   border-color: #f8f9fa;
 }

.border-primary {
   border-color: #FCC604;
 }



/* 
==================================> Animation Utilities
 */
     /* Ripple Effect */
.pos-rel-hide {
  position: relative;
  overflow: hidden;
}

.pos-rel-hide .ripple{
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple{
  to{
    transform: scale(2.5);
    opacity: 0;
  }
}

/* 
==================================> Responsive Design
 */
 /* Small screens */
@media all and (min-width: 500px) {
  /* Flex Container */
  .flex-container {
    /* On small screens, don't use column direction, rather use row direction */
    flex-direction: row;
  }
  /* Width Utilities */
  .sm-width-50 {
    width: 50%;
  }

}

/* Desktop Screens */
@media all and (min-width: 800px) {
  /* Flex container */
  .flex-container {
    /* On tablets, spacee the items evenly around */
    justify-content: space-around;
  }
  /* Width Utilities */
  .ta-width-50 {
    width: 50%;
  }
  .ta-width-33 {
    width: 33.33%;
  }
  
}