/* 
==================================> External Styles
 */

@import url(https://fonts.googleapis.com/css?family=Nunito);
@import "./top-nav.css";
@import "./animateimage.css";
 /* 
==================================> Remove Defaults
 */
 /* ul */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* a {
  text-decoration: none;
}
a:hover,
a:focus {
  color : inherit;
} */

a {
    all: unset;
} 

* {
  box-sizing: border-box;
}

/* 
==================================> Components
 */
           /* Body */
body {
    background-color: #fff;
    color: #1e394e;
    font-size: 14px;
    font-family: "Nunito","sans-serif";
    font-weight: 400;
    margin: 0; 
    letter-spacing: 0.4px;
    line-height: 1.5;
}
     /* Flex Container */
.flex-container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
    /* min-width: 185px; */
}
    /* Container */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1230px;
}
.profile-card {
  /* display: flex; */
  width: 625px;
  height: 500px;
  padding: 19px 27px;
}

        /* Harmburger Icon */
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
      /* Form */
.form-label {
    display: block;
}
.form-control {
    display: block;
    /* background-color:#E9EFFD; */
    border: 1px solid #CFD7E6;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(207,215,230,.4);
    padding-left: 8px;
    padding-right: 8px;
    height: 34px;
}
      /* Tables */
.table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    border-collapse: collapse;
    border-spacing: 0;
    
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px; 
    vertical-align: top;
    height: 60px;
    /* border-top: 1px solid #ddd; */

    border-bottom: 1px solid rgb(245, 245, 245);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(245, 245, 245);
    line-height: 1.5;
    letter-spacing: 0.4px;
}
/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */
table>tbody>tr:hover {
  background-color: rgb(238, 240, 252);
}
        /* Links */
.link {
  color: #4990E2;   
}
.link:hover {
  cursor: pointer;  
}
/* Text title */
.text-title {
  font-size: 16px;
  line-height: 21px;
  color: #212b36;
}

     /* Border */
.border-yellow {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FCC604;
    
}
.border-blue {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(87, 106, 230);
  border-bottom-color: #676AE6;
    
}
 .border-light {
   /* border-bottom-width: 1px solid #f8f9fa; */
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(87, 106, 230);
  border-bottom-color: #dee2e6;
 }
 .border-none {
   border: none;
 }


  .overflow-none {
  overflow-x: auto;
  }

.gravatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%
}
.big-gravatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%
}

        /* buttons */
.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
.button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,t
.button.button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}
.button.button-primary:hover,
.button.button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}
.button.button-light:hover,
.button.button-light:focus {
  border-color: #FFF;
  background-color: #FCC604;
  opacity: 0.911;
  color: #FFF;
}
.button.button-disabled {
  opacity: 0.5;
  background-color: #33C3F0;
  color: #FFF;
  cursor:not-allowed;
}
.button.button-info {
  border-color: #FFF;
  background-color: #FCC604;
  opacity: 0.911;
  color: #FFF;
}
.button.button-info:hover,
.button.button-primary:focus {
  border-color: #FFF;
  background-color: #FCC604;
  opacity: 1;
  color: #FFF;
}
.button.button-save {
  border-color: #FFF;
  background-color: #676AE6;
  opacity: 0.911;
  color: #FFF;
}
.button.button-save:hover,
.button.button-primary:focus {
  border-color: #FFF;
  background-color: #676AE6;
  opacity: 1;
  color: #FFF;
}
.button-delete {
  background-color: #dc3545;
  color: whitesmoke;
  border: none;
  padding: 6px;
  opacity: 0.911;
  border-radius: 4px;
  text-transform: uppercase;
}
.button-delete:hover,
.button-delete:focus {
  /* padding: 10px; */
  opacity: 1;
  background-color: red;
  cursor: pointer;
}


/* 
==================================> Color Utililties
Contains:
1) Background colors as bg-*
2) Text colors as tex-*
 */
 /* For Backgrounds */
.bg-input {
  background-color: #E9EFFD;
}
.bg-input:focus {
  background-color: #fff;
}
.bg-white {
  background-color: #fff;
}

.bg-light-blue {
  background-color: rgb(250, 252, 255);
}
.bg-yellow-light {
  background-color: #FCC604;
}
.bg-yellow-dark {
  background-color: #E9A844;
}
.bg-blue {
  background-color:#E9EFFD;
}
.bg-red {
  background-color: #EB1211;
}
.bg-light {
  background-color: #f8f9fa;
}
.bg-danger {
  background-color: #dc3545;
}
.bg-check   {
  background-color: rgb(244, 246, 248);
}
.bg-gray   {
  background-color: #FCFCFC;
}
.bg-green   {
  background-color: green;
}
/* For Text Colors */
.text-gray {
  color: #1e394e;
}
.text-info {
  color: #FCC604;
 }
.text-link {
  color: #1EAEDB;
 }
.text-green {
  color: #4CB786;
}
.text-red {
  color: 	#C17372;
}
/* 
==================================> Typography Utililties(font, padding, margin, shadow)
 */
 .p-4 {
   padding: .4em;
 }
.p-5 {
   padding: 48px;
 }

.m-5 {
   margin: 48px;
 }

.mb-4 {
  margin-bottom: 24px;
}
.mt-4 {
  margin-top: 24px;
}
.ml-1 {
  margin-left: 24px;
}

.my-4 {
   margin-top: 24px;
   margin-bottom: 24px;
 }
.my-10 {
   margin-top: 96px;
   margin-bottom: 96px;
 }

 /* Font */
 .text-uppercase {
  text-transform: uppercase;
 }
 .text-size-16 {
  font-size: 16px;
 }
 .text-center {
  text-align: center;
 }
 .text-left {
  text-align: left;
 }

 .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
 }
 .h4 {
   font-size: 1.5rem;
 }
  .h6 {
   font-size: 1.25rem;
 }
 /* placeholder */
 .placeholder::placeholder,
 .input-text {
  opacity: 0.7;
  font-weight: bolder;
  font-family: Arial;
  font-size: 16px;
}
 .placeholder-muted::placeholder {
  opacity: 0.7;
  /* font-weight: bolder; */
  font-family: Arial;
  font-size: 14px;
  color: #6C757D;
}

   /* cursor */
.cusor:hover {
  cursor: pointer;
}
 /* Shadow */
 .shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
 }
 .shadow-light {
  box-shadow: 0 1.2px 5.68px 0 rgba(0,0,0,0.12);
 }

/* 
==================================> Length Utililties
 */
 /* Width */
.width-100 {
  width: 100%;
}
.width-50 {
  width: 50%;
}
.width-60px {
  width: 60px;
} 
.min-width-mid {
  min-width: 500px;
}
.min-width-big {
  min-width: 700px;
}
/* Height */
.height-auto {
  height: auto;
}
.height-70 {
  height: 70px;
}
.height-73 {
  height: 73px;
}
.min-height {
   height: calc(100vh - 80px);
}

/* 
==================================> Positioning Utililties
 */
 .position-90 {
   width: 90%;
   margin: 0 auto;
 }
  .position-center {
   margin-left: auto;
   margin-right: auto;
 }
.float-r {
    position: relative;
    float: right!important;
 }
 .float-l {
    float: left !important;
 }

 .block {
    display: block;
 }
 .inline-block {
    display: inline-block;
 }
 .flx {
   display: flex;
 }
 



/* 
==================================> Animation Utilities
 */
     /* Ripple Effect */
.pos-rel-hide {
  position: relative;
  overflow: hidden;
}

.pos-rel-hide .ripple{
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple{
  to{
    transform: scale(2.5);
    opacity: 0;
  }
}

/* 
==================================> Responsive Design
 */
 /* Small screens */
@media all and (min-width: 500px) {
  /* Flex Container */
  .flex-container {
    /* On small screens, don't use column direction, rather use row direction */
    flex-direction: row;
  }
  /* Width Utilities */
  .sm-width-50 {
    width: 50%;
  }

}

/* Desktop Screens */
@media all and (min-width: 800px) {
  /* Flex container */
  .flex-container {
    /* On tablets, spacee the items evenly around */
    justify-content: space-around;
  }
  /* Width Utilities */
  .ta-width-50 {
    width: 50%;
  }
  .ta-width-33 {
    width: 33.33%;
  }
  
}